<p id="notice"><%= notice %></p>

<h1>FaceLook</h1>

<br>

<%= link_to 'New Picture', new_picture_path %>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <p><span>Image:<br><%= picture.image %></span></p>
      <p><span>Content:<br><%= picture.content %></span></p>
      <p><span>User:<br><%= picture.user.name %></span></p>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><%= link_to "Show", picture_path(picture.id) %></button>
      <% if picture.user_id == current_user.id %>
        <button type="button" class="btn btn-default"><%= link_to "Edit", edit_picture_path(picture.id) %></button>
        <button type="button" class="btn btn-default"><%= link_to "Destroy", picture_path(picture.id), method: :delete, data: {confirm: '本当に削除していいですか？'} %></button>
      <% end %>
      </div>
    </li>
  <% end %>
</ul> 

